{{- if and (eq .chezmoi.os "darwin") .personal_device -}}
#!/usr/bin/env bash
set -euo pipefail

echo "🎵 Installing personal applications..."

apps=(
	whatsapp
	discord
	signal
	spotify
	nordvpn
	vlc
)

for app in "${apps[@]}"; do
	if brew list --cask "$app" &>/dev/null; then
		echo "✅ $app already installed"
	else
		echo "📦 Installing $app..."
		brew install --cask "$app"
	fi
done


echo "✅ Personal applications installed."
{{- end }}
