# ------------------------------------------------------------------------------
# Ghostty Configuration
# ------------------------------------------------------------------------------

# --- Theme ---

# Catppuccin
# theme = Catppuccin Mocha
# theme = Catppuccin Macchiato
# theme = Catppuccin Frappe
# theme = Catppuccin Latte

# Everforest
# theme = Everforest Dark Hard
# theme = Everforest Light Med

# Gruvbox
# theme = Gruvbox Dark
theme = Gruvbox Dark Hard
# theme = Gruvbox Light
# theme = Gruvbox Material
# theme = Gruvbox Material Dark
# theme = Gruvbox Material Light

# Cyberpunk
# theme = Cyberpunk
# theme = Cyberpunk Scarlet Protocol

# Ayu
# theme = Ayu
# theme = Ayu Light
# theme = Ayu Mirage

# --- Appearance ---
font-size = 20
background-opacity = 0.85
background-blur-radius = 16
window-padding-x = 10
window-padding-y = 10

# --- macOS ---
window-decoration = false
macos-titlebar-style = hidden
macos-option-as-alt = true
