# Catppuccin themes
# theme = catppuccin-mocha
# theme = catppuccin-macchiato
theme = catppuccin-frappe
# theme = catppuccin-latte

font-size = 14
window-padding-x = 10
window-padding-y = 10
{{ -if eq chezmoi.os "darwin" }}
window-decoration = false
macos-titlebar-style = hidden
{{- end }}

